<h1>Práctica final</h1>
<div class="card" style="min-width: 95%; padding: 1%; margin: 20px; box-shadow: 5px 5px 5px; background-color: #FFCFFF;">
  Se mantiene el código que ha ido evolucionando a través de cada una de las prácticas semanales de modo que hay código redundante para activar partes de código en desuso en la práctica final,
  y finalmente, se deja el proyecto funcional interactuando mediante:
  <ul>
    <li>Contenedores-presentadores mediante @Inputs-@Outputs</li>
    <li>Observables</li>
    <li>Implementación de servicios</li>
    <li>Consumiendo servicios remotos</li>
    <li>Incorporando Angular Material a la tabla de proyectos</li>
  </ul>

  Por otra parte, se mantienen secciones "pre" para la visualización de datos, de modo que sea cómodo comprobar los datos guardados/enviados en determinados momentos.
</div>
